@import "./styles/_reset.css" layer(reset);
@import "./styles/_variables.css";
@import "./styles/_utilities.css";
@import "./styles/_base.css";
@import "./styles/_animation.css";
@import "./styles/button.css";
@import "./styles/theme-switcher.css";
@import "./styles/hero.css";
@import "./styles/logos.css";
@import "./styles/principles.css";
@import "./styles/services.css";
@import "./styles/reviews.css";
@import "./styles/timeline.css";
@import "./styles/faq.css";
@import "./styles/about.css";
