.animate-pop-in-bottom {
  animation: pop-in-from-bottom 0.4s ease forwards;
}

.animate-pop-in-top {
  animation: pop-in-from-top 0.4s ease forwards;
}

.animate-fade-slide-top {
  animation: fade-slide-top 0.8s linear(0, 0.007 1.1%, 0.029 2.3%, 0.121 5%, 0.239 7.5%, 0.631 15%, 0.743 17.5%, 0.832 19.8%, 0.906 22.1%, 0.966 24.5%, 1.013 27%, 1.046 29.6%, 1.07 33.1%, 1.076 37.2%, 1.066 41.8%, 1.016 55.2%, 0.999 63.4%, 0.994 73.4%, 1) forwards;
}

.animate-fade-slide-left {
  animation: fade-slide-left 0.5s linear forwards;
}

.animate-fade-slide-right {
  animation: fade-slide-right 0.5s linear forwards;
}

.animate-fade-spring-top {
  animation: fade-slide-top 1.2s linear(0, 0.544 5.5%, 0.947 11.5%, 1.213 18.1%, 1.298 21.7%, 1.352 25.5%, 1.372 28.2%, 1.379 31.1%, 1.374 34.2%, 1.357 37.6%, 1.307 43.7%, 1.121 61.8%, 1.074 67.8%, 1.04 73.7%, 1.007 84.7%, 1) forwards;
}

@keyframes pop-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(32px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-32px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-top {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }

  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
