[class$="__button"] {
  width: fit-content;
  padding: 0.8em 1em;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-bg-black);
  border-radius: var(--radius-s);
  border: 2px outset var(--color-white);
  transition:
    background-color 0.12s,
    transform 0.12s;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--color-accent);
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 4px #0060df;
  }

  &:active {
    border-style: inset;
    transform: scale(0.97);
  }
}

/* html[data-color-theme='dark'] {
  [class$="__button"] {
    color: var(--color-text-white);
    background-color: var(--color-black);
  }
} */
