.footer {
  --color-error: rgb(255, 53, 53);
  --color-bg-error: hsl(from var(--color-error) h s l / 0.1);

  /* reset default styles */
  input,
  textarea {
    all: unset;
    box-sizing: border-box;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
    padding: 32px 36px 42px 36px;
    background-color: var(--color-bg-gray);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow);
    overflow-x: hidden;

    &.form-error {
      box-shadow: 2px 4px 6px 0 hsl(from var(--color-error) h s l / 0.7);
    }

    @media screen and (width <=1280px) {
      width: 86%;
    }

    @media screen and (width <=1024px) {
      width: 90%;
    }

    @media screen and (width <=962px) {
      width: 100%;
    }

    @media screen and (width <=768px) {
      padding-inline: 24px;
    }
  }

  .field {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  label {
    padding-bottom: 10px;

    &:not([for="tel"]):after {
      content: " *";
      color: var(--color-accent);
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    font-style: 20px;
    border: 1px solid var(--color-text-primary);
    border-radius: 4px;
    background-color: var(--color-bg-default);

    &:focus {
      outline: 2px solid var(--color-text-primary);
    }
  }

  .input-error {
    background-color: var(--color-bg-error);
  }

  .input-error-message,
  .form-error-message {
    position: absolute;
    bottom: calc(-1rem - 2px);
    min-width: max-content;
    font-size: 16px;
    color: var(--color-error);
  }

  .form-error-message {
    bottom: calc(2rem + 54px);
    width: calc(100% - 72px);
    text-align: center;

    @media screen and (width <=768px) {
      width: calc(100% - 48px);
    }
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }

  .loader--active {
    display: flex;
  }

  .loader:after,
  .loader:before {
    border-radius: 100%;
    display: block;
    content: '';
    position: absolute;
  }

  .loader:after {
    height: 15px;
    width: 15px;
    animation: spin 1s infinite linear;
    box-shadow: 19px 0 0 0 var(--color-accent), -19px 0 0 0 var(--color-accent);
  }

  .loader:before {
    height: 40px;
    width: 40px;
    border: 2px solid var(--color-text-primary);
  }

  button[type="submit"] {
    min-width: -webkit-fill-available;
    min-width: fit-content;
    padding: 0;
    color: inherit;
    background: none;

    height: 46px;
    margin-top: 24px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-black);
    text-shadow: 1px 1px 1px var(--color-black);
    border-radius: 4px;
    transition: background-color 0.24s;

    &:hover,
    &:focus-visible {
      background-color: var(--color-accent);
      cursor: pointer;
    }
  }
}

/* crutch for form button */
html[data-color-theme='dark'] .footer {
  button[type="submit"] {
    background-color: var(--color-accent);

    &:hover,
    &:focus-visible {
      background-color: #f56343;
    }
  }
}
