.animate-pop-in-bottom {
  animation: pop-in-from-bottom 0.4s ease forwards;
}

.animate-pop-in-top {
  animation: pop-in-from-top 0.4s ease forwards;
}

.animate-fade-slide-top {
  animation: fade-slide-top 0.6s ease-out forwards;
}

.animate-fade-spring-top {
  animation: fade-slide-top 1.2s linear(0, 0.544 5.5%, 0.947 11.5%, 1.213 18.1%, 1.298 21.7%, 1.352 25.5%, 1.372 28.2%, 1.379 31.1%, 1.374 34.2%, 1.357 37.6%, 1.307 43.7%, 1.121 61.8%, 1.074 67.8%, 1.04 73.7%, 1.007 84.7%, 1) forwards;
}

@keyframes pop-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(32px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-32px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-top {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
