:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	line-height: 1.4;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-text-primary);
	background-color: var(--color-bg-default);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

section:not(:first-of-type) {
	padding-block: 100px;

	@media screen and (width <=1280px) {
		padding-block: 48px;
	}

	@media screen and (width <=1024px) {
		padding-block: 48px;
	}

	@media screen and (width <=768px) {
		padding-block: 32px;
	}
}

.title {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.2rem, 1rem + 3vw, 54px);
  font-weight: 900;
  text-align: center;
  line-height: 1.2;

  span {
    color: var(--color-accent);
  }
}

.subtitle {
	max-width: 48ch;
	width: 80%;
	margin-top: 1em;
	margin-inline: auto;
	font-size: clamp(1rem, 0.5rem + 1vw, 1.6rem);
	text-align: center;

	span {
		font-weight: 700;
    color: var(--color-accent);
  }
}
