.faq {}

.faq__subtitle {
  max-width: 54ch;
}

/* Core styles/functionality */
.tab {
  position: relative;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab input:checked~.tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  margin-top: 48px;
}

.tab {
  border-radius: var(--radius-m);
  border: 4px solid var(--color-bg-gray);

  &:not(:first-child) {
    margin-top: 14px;

    @media screen and (width <=768px) {
      margin-top: 10px;
    }
  }
}

.tab:has(:focus-visible) {
  outline: 4px solid var(--color-accent);
}

.tab__label,
.tab__close {
  display: flex;
  color: var(--color-text-primary);
  background: var(--color-bg-gray);
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
  font-size: 28px;
  font-size: clamp(20px, 14px + 1vw, 32px);
  font-weight: 700;
  border-top-left-radius: var(--radius-s);
  border-top-right-radius: var(--radius-s);

  @media screen and (width <=864px) {
    padding: 22px;
    line-height: 1.3;
  }

  @media screen and (width <=768px) {
    padding: 20px;
  }

  @media screen and (width <=576px) {
    padding: 18px;
  }
}

.tab__label::after {
  content: "\276F";
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1em;
  height: 1em;
  /* text-align: center; */
  transform: rotate(90deg);
  /* transition: all 0.35s; */
}

.tab input:checked+.tab__label::after {
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 22px;
  font-size: clamp(18px, 10px + 1vw, 28px);

  @media screen and (width <=768px) {
    padding: 20px;
  }

  @media screen and (width <=576px) {
    padding: 18px;
  }
}

.tab__content span {
  color: var(--color-accent);
  font-weight: 600;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

/* Arrow animation */
.tab input:not(:checked)+.tab__label:hover::after {
  animation: bounce .5s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }

  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
