.hero {
  background-color: var(--color-bg-gray);
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100dvh;
}

.hero__container::before {
  position: absolute;
  content: '';
  inset: 0;
  background-image: url("../img/shape-3.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left 96%;
  opacity: 0;

  animation: fade-in 1.6s linear 1.4s forwards;
}

.hero__title {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-size: clamp(1.2rem, 1rem + 1.2vw, 32px);
  font-weight: 800;
  color: var(--color-text-secondary);
  text-align: center;
  opacity: 0;

  animation: pop-in-from-bottom 0.5s ease-out forwards;
}

.hero__slogan {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.4rem, 1rem + 4vw, 76px);
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  opacity: 0;

  animation: pop-in-from-bottom 0.5s ease-out 0.3s forwards;

  span {
    color: var(--color-accent);
  }
}

.hero__info {
  max-width: 84ch;
  width: 80%;
  margin: 0;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.6rem);
  text-align: center;
  opacity: 0;

  animation: pop-in-from-bottom 0.5s ease-out 0.6s forwards;
}

.hero__button {
  opacity: 0;

  animation: fade-in 0.6s ease-out 0.9s forwards;
}
