.logos {
  background-color: var(--color-bg-gray);
}

.logos__list {
  margin: 0;
  padding-block: 2em;
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 4vw;
}

.logos__item svg {
  fill: var(--color-text-primary);
}
