:root {
  --trans-dur: 0.24s;
  --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
  --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

.switcher {
  position: absolute;
  top: 4vh;
  right: 2vw;
  display: inline-flex;
  margin: auto;
  opacity: 0;
  animation: fade-in 0.6s ease-out 0.9s forwards;
  z-index: 100;
}

.switcher__icon,
.switcher__input {
  display: block;
}

.switcher__icon {
  position: absolute;
  top: 0.375em;
  right: 0.5em;
  width: 1.1em;
  height: 1.1em;
  transition:
    opacity calc(var(--trans-dur) / 2),
    transform calc(var(--trans-dur) / 2);
  pointer-events: none;
}

.switcher__icon--light {
  color: var(--color-accent);
  transition-delay: calc(var(--trans-dur) / 2);
  transition-timing-function: var(--trans-timing-out);
}

.switcher__icon--dark {
  opacity: 0;
  transform: translateX(-0.75em) rotate(30deg) scale(0.75);
  transition-timing-function: var(--trans-timing-in);
}

.switcher__input {
  position: relative;
  width: 3em;
  height: 1.5em;
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.125em var(--color-text-primary);
  transition:
    background-color var(--trans-dur) var(--trans-timing),
    box-shadow 0.14s linear;

  outline: transparent;
  appearance: none;
  cursor: pointer;
}

.switcher__input:focus-visible {
  box-shadow: 0 0 0 0.125em var(--color-accent);
}

.switcher__input:before,
.switcher__input:after {
  position: absolute;
  content: "";
  display: block;
}

.switcher__input:before {
  inset: 0;
  border-radius: inherit;
  transition: background-color var(--trans-dur) var(--trans-timing);
}

.switcher__input:after {
  background-color: var(--color-text-primary);
  border-radius: 50%;
  top: 0.125em;
  left: 0.125em;
  width: 1.25em;
  height: 1.25em;
  transition:
    background-color var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
  z-index: 1;
}

.switcher__input:checked:after {
  transform: translateX(1.5em);
}

.switcher__input:checked~.switcher__icon--light {
  opacity: 0;
  transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
  transition-delay: 0s;
  transition-timing-function: var(--trans-timing-in);
}

.switcher__input:checked~.switcher__icon--dark {
  opacity: 1;
  transform: translateX(-1.4em);
  transition-delay: calc(var(--trans-dur) / 2);
  transition-timing-function: var(--trans-timing-out);
}

.switcher__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
